<div>
    <h1>Enlaces</h1>
    <ul>
        <li>
            <a href="/ventana_probabilidad_comportamiento" > ventana probabilidad comportamiento</a>
        </li>
        <li>
            <a href="/probabilidad_comportamiento" > probabilidad comportamiento</a>
        </li>
    </ul>

</div> 