<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <hgroup>
            <h1>MI titulo principal</h1>
            <h2>mi subtitulo</h2>
            <h3> mi otro subtitulo</h3>
        </hgroup>
    </header>

    <section>
        <article>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quas aliquid suscipit consectetur, sit dolore esse est ducimus qui ipsa. Cumque quo pariatur repudiandae hic delectus, possimus distinctio molestias similique?
            </p>
        </article>
    </section>
</body>
</html>